<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.kh.myapp.bbs.dao.BbsDAO">
    <insert id="write">
    	insert into bbs (bnum, btitle, bname, bcontent) values(bbsnum_seq.nextval, #{btitle},#{bname},#{bcontent})
    </insert>
    
     <select id="view" resultType="BbsDTO">
    	select BNUM, BTITLE, BNAME, BCDATE, BUDATE, BHIT, BCONTENT FROM bbs where bnum = #{bNum}
    </select>
    
    <select id="list" resultType="BbsDTO"> 
    select bnum, btitle, bname, bhit, bcontent, bcdate, bgroup, bstep, bindent
     from bbs order by bgroup desc, bstep asc 
     </select>
    <update id="update">
    	update BBS SET btitle=#{btitle}, bcontent=#{bcontent}, BUDATE=sysdate where BNUM = #{bnum}
    </update>
    
    <delete id="delete">
    	delete from bbs where bnum = #{bNum}
    </delete>
    
    
   <insert id="reply">
      insert into bbs (bnum, btitle, bname, bcontent, bgroup, bindent)
      values(bbsnum_seq.nextval,#{btitle},#{bname},#{bcontent},#{bgroup},#{bindent})
   </insert>
   
   <select id="preInfo" resultType="BbsDTO">
      select bnum, btitle, bname, bhit, bUdate, bcontent, bgroup, bstep, bindent
      from bbs where bnum = #{bnum}
   </select>
   
   <select id="listPageCri" resultType="BbsDTO">
      <!-- select t2.*
      from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.*
      from bbs t1) t2
      where num between #{startRecord} and #{endRecord}
       -->
      select * 
		from (select rownum as rnum, bnum, btitle,bname, bhit, bcontent, bgroup, bstep, bindent 
		from (select bnum, btitle, bname, bhit, bcontent, bgroup, bstep, bindent 
		from bbs start with bGroup is null connect by prior bnum = bgroup 
		order siblings by bgroup desc, bstep asc, bcdate desc, bnum desc)
		 where rownum <![CDATA[ < ]]>= #{endRecord})
		 where rnum >= #{startRecord}
   </select>
   
   <select id="totalRec" resultType="int">
      select count(*) from bbs
   </select>
   
   <select id="listFindCri" resultType="BbsDTO">
      select t2.* from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.*
      from bbs t1 where bnum > 0 and
      
      <choose>
         <when test="option == 'TC'.toString()">
            (btitle like '%'||#{keyword}||'%' or bcontent like '%'||#{keyword}||'%')
         </when>
         <when test="option == 'T'.toString()">
            btitle like '%'||#{keyword}||'%'
         </when>
         <when test="option == 'C'.toString()">
            bcontent like '%'||#{keyword}||'%'
         </when>
         <when test="option == 'W'.toString()">
            bname like '%'||#{keyword}||'%'
         </when>
      <otherwise>
         btitle like '%'||#{keyword}||'%' or bcontent like '%'||#{keyword}||'%' or bname like '%'||#{keyword}||'%'
      </otherwise>
      </choose>
         ) t2 where num between #{startRecord} and #{endRecord}
   
   </select>
   
   <select id="searchRec" resultType="int">
      select count(*) from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.*
      from bbs t1 where bnum > 0 and
      
      <choose>
         <when test="option == 'TC'.toString()">
            btitle like '%'||#{keyword}||'%' or bcontent like '%'||#{keyword}||'%'
         </when>
         <when test="option == 'T'.toString()">
            btitle like '%'||#{keyword}||'%'
         </when>
         <when test="option == 'C'.toString()">
            bcontent like '%'||#{keyword}||'%'
         </when>
         <when test="option == 'W'.toString()">
            bname like '%'||#{keyword}||'%'
         </when>
      <otherwise>
         btitle like '%'||#{keyword}||'%' or bcontent like '%'||#{keyword}||'%' or bname like '%'||#{keyword}||'%'
      </otherwise>
      </choose>
         ) t2 
   </select>
	<update id="updatehit">
		update bbs SET bhit=bhit+1 where bnum = #{bnum}		
	</update>
    </mapper>