<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rbbsdao">
<insert id="write">
<!-- 댓글 등록 -->
	insert into rbbs
	(rnum,bnum,rid,rname,rcontent)
	values(rbbsnum_seq.nextval,#{bnum},#{rid},#{rname},#{rcontent})
</insert>
<!-- 해당 글 댓글 전부 -->
<!-- 요청 페이지 댓글 목록 -->
<select id="list" parameterType="MAP" resultType="RbbsDTO">

	select * from (select rownum as row1, rnum, bnum, rname, rcontent, rgroup, rindent,rgood,rbad,rcdate ,rid
	from (select rnum,bnum, rname, rcontent, rgroup, rindent,rgood,rbad,rcdate,rid
	from rbbs start with rGroup is null connect by prior rnum = rgroup 
	order siblings by rgroup desc, rcdate desc, rnum desc)
	where rownum <![CDATA[ < ]]>= #{rc.endRecord} and bnum=${bnum})
	where row1 >= #{rc.startRecord}
</select>
<!-- 댓글 수정 -->
<update id="update">
	update rbbs set rcontent=#{rcontent} where rnum=#{rnum}
</update>
<!-- 댓글 삭제 -->
<delete id="delete">
	delete from rbbs where rnum=#{rnum}
</delete>
<!-- 대댓글 등록-->
<insert id="reply">
	insert into rbbs (rnum,bnum,rid,rname,rcontent,rgroup,rindent)
	values(rbbsnum_seq.nextval,#{bnum},#{rid},#{rname},#{rcontent},#{rgroup},#{rindent})
</insert>
<!-- 좋싫 -->
<update id="vote">
	<choose>
		<when test="vote == 'good'">
		update rbbs set rgood=rgood+1 where rnum=#{rnum}
		</when>
		<when test="vote == 'bad'">
		update rbbs set rbad=rbad+1 where rnum=#{rnum}
		</when>
	</choose>
</update>
<!-- 대댓 대상 정보 -->
<select  id="preinfo" resultType="RbbsDTO">
	select bnum,rnum, rgroup, rindent from rbbs where rnum = #{rnum}
</select>
<select id="replyTotalRec" resultType="int">
	select count(*) totalRec from rbbs where bnum=#{bnum}
</select>
</mapper>